{% if site.footer_scripts %}
  {% for script in site.footer_scripts %}
    {% if script contains "://" %}
      {% capture script_path %}{{ script }}{% endcapture %}
    {% else %}
      {% capture script_path %}{{ script | absolute_url }}{% endcapture %}
    {% endif %}
    <script src="{{ script_path }}"></script>
  {% endfor %}
{% else %}
  <script src="{{ '/assets/js/main.min.js' | absolute_url }}"></script>
{% endif %}

{% if site.search == true or page.layout == 'search' %}
  <script src="{{ '/assets/js/lunr.min.js' | absolute_url }}"></script>
  <script src="{{ '/assets/js/lunr-en.js' | absolute_url }}"></script>
{% endif %}

{% include analytics.html %}
{% include /comments-providers/scripts.html %}

<script language="javascript">
  var localTime = new Date();
  var strLocal = ("Local machine time is: " + localTime + "<br>").fontsize(1);
  var strGlobal = ("Server time is: " + date).fontsize(1);
  document.write('<div style="text-align: center;"><i><b>'+strLocal+"</b></i></div>");
  document.write('<div style="text-align: center;"><i><b>'+strGlobal+"</b></i></center>");
</script>